@*
    Debe mostrar un texto de bienvenida y enlace al listado de animales.
*@
@{
   
}

<h1>Página principal del refugio de animales</h1>
<br />
<hr />
<h3>¡Bienvenid@@!</h3>
<br />
<p>Para acceder a la lista de animales, puedes usar el menú o <a asp-controller="Refugio" asp-action="Animales">pulsar aquí</a></p>
<hr />

