
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>Bienvenido a la sección de Adoptantes.</p>
<p>Aquí podrás gestionar la información de las personas interesadas en adoptar animales del refugio.</p>
<p><a asp-controller="Adoptante" asp-action="Adoptantes">Lista adoptantes</a></p>

