
@{
    ViewData["Title"] = "Index";
}

<h1>Tarea 3 - Refugio de Animales</h1>

<h3>Miguel Dagraza</h3>
<hr />
<p>Para acceder a la lista de animales, puedes usar el menú o <a asp-controller="Animal" asp-action="Animales">pulsar aquí</a></p>
<p>Para acceder a la lista de adoptantes, puedes usar el menú o <a asp-controller="Adoptante" asp-action="Adoptantes">pulsar aquí</a></p>

