@model RefugioAnimales.ViewModel.PanelUsuarioEditViewModel

@{
    ViewData["Title"] = "Crear";
}

<h4>Panel de @Model.Usuario.NombreUsuario</h4>

<div>
    <p><a asp-action="Panel" class="">Cambiar contraseña</a><span> | </span>Lista de Usuarios</p>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["Mensaje"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Mensaje"]
            </div>
        }
        <form asp-action="Crear">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioEdit.NombreUsuario" class="control-label"></label>
                <input asp-for="UsuarioEdit.NombreUsuario" class="form-control" />
                <span asp-validation-for="UsuarioEdit.NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioEdit.PasswordHash" class="control-label"></label>
                <input asp-for="UsuarioEdit.PasswordHash" class="form-control" />
                <span asp-validation-for="UsuarioEdit.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioEdit.Rol" class="control-label"></label>
                <select asp-for="UsuarioEdit.Rol" asp-items="Model.Roles" class="form-control"></select>
                <span asp-validation-for="UsuarioEdit.Rol" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Usuarios" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

