@model RefugioAnimales.ViewModel.PanelContrasenaViewModel

@{
    ViewData["Title"] = "Panel de usuario";
    var rol = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
}

<h4>Panel de @Model.Usuario</h4>

<div>
    <div>
        <p>Cambiar contraseña
            @if (rol == "Admin")
            {
               <span> | </span>
               <a asp-action="Usuarios" class="">Lista de Usuarios</a>
            }
        </p>
    </div>
    <hr />
    <div class="row">
        @if (TempData["Mensaje"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Mensaje"]
            </div>
        }
        @if (TempData["MensajeOk"] != null)
        {
            <div class="alert alert-success">
                @TempData["MensajeOk"]
            </div>
        }
        <form asp-action="CambiarContrasena" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Usuario" />
            <div class="form-group">
                <label asp-for="Pass" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Pass" class="form-control Pass" type="password" />
                    <button class="btn btn-outline-secondary mostrarPass" type="button">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pass1" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Pass1" class="form-control Pass" type="password" />
                    <button class="btn btn-outline-secondary mostrarPass" type="button">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="Pass1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pass2" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Pass2" class="form-control Pass" type="password" />
                    <button class="btn btn-outline-secondary mostrarPass" type="button">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="Pass2" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group d-flex justify-content-center align-items-center gap-3">
                <input type="submit" value="Cambiar contraseña" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    const pass = document.querySelectorAll('.Pass');
    const mostrarPass = document.querySelectorAll('.mostrarPass');

    mostrarPass.forEach(btn => {
        btn.addEventListener('click', function () {

            // Detectar si están ocultas o visibles
            const showing = [...pass].some(f => f.type === "text");

            pass.forEach(f => {
                f.type = showing ? "password" : "text";
            });

            // Actualizar iconos de todos los botones
            mostrarPass.forEach(b => {
                b.innerHTML = showing
                    ? '<i class="bi bi-eye"></i>'
                    : '<i class="bi bi-eye-slash"></i>';
            });
        });
    });
</script>